    <!-- 
    			=============================================
    				Footer
    			============================================== 
    			-->
    <footer class="bg-two">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-logo">
                    <a href="index"><img src="/assets/images/logo/logo.svg" alt="Logo" width="30%" ></a>
                        <h5><a href="#" class="tran3s">info@cavstax.in</a></h5>
                        <h6 class="p-color">202. 277. 3894</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#" class="tran3s">How it Works</a></li>
                        <li><a href="#" class="tran3s">Guarantee</a></li>
                        <li><a href="#" class="tran3s">Security</a></li>
                        <li><a href="#" class="tran3s">Report Bug</a></li>
                        <li><a href="#" class="tran3s">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
                    <h4>About Us</h4>
                    <ul>
                        <li><a href="#" class="tran3s">Jobs</a></li>
                        <li><a href="#" class="tran3s">Team</a></li>
                        <li><a href="#" class="tran3s">Testimonials</a></li>
                        <li><a href="#" class="tran3s">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
                    <h4>Subscribe to our newsletter</h4>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                    </form>
                    <ul>
                        <li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div> <!-- /.row -->
            <div class="bottom-footer clearfix">
                <p class="float-left">&copy; 2020 <a href="#" class="tran3s p-color">Cavstax</a>. All rights
                    reserved</p>
            </div>
        </div> <!-- /.container -->
    </footer>
    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>
    <!-- Js File_________________________________ -->
    <!-- j Query -->
    <script type="text/javascript" src="/assets/vendor/jquery.2.2.3.min.js"></script>
    <!-- Bootstrap Select JS -->
    <script type="text/javascript" src="/assets/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Vendor js _________ -->
    <!-- Camera Slider -->
    <script type='text/javascript' src='/assets/vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='/assets/vendor/Camera-master/scripts/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='/assets/vendor/Camera-master/scripts/camera.min.js'></script>
    <!-- Mega menu  -->
    <script type="text/javascript" src="/assets/vendor/bootstrap-mega-menu/js/menu.js"></script>
    <!-- WOW js -->
    <script type="text/javascript" src="/assets/vendor/WOW-master/dist/wow.min.js"></script>
    <!-- owl.carousel -->
    <script type="text/javascript" src="/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- js count to -->
    <script type="text/javascript" src="/assets/vendor/jquery.appear.js"></script>
    <script type="text/javascript" src="/assets/vendor/jquery.countTo.js"></script>
    <!-- Fancybox -->
    <script type="text/javascript" src="/assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- Theme js -->
    <script type="text/javascript" src="/assets/js/theme.js"></script>

</div> <!-- /.main-page-wrapper -->
    </body>
    
    </html>
