<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- For Window Tab Color -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#2c2c2c">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#2c2c2c">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

	<title>Cavs Associates</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="/assets/images/fav-icon/icon.png">

	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

</head>

<body>
	<div class="main-page-wrapper">

		<!-- ===================================================
				Loading Transition
			==================================================== -->
		<div id="loader-wrapper">
			<div id="loader">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>



		<!-- 
			=============================================
				Theme Header
			============================================== 
			-->
		<header class="theme-menu-wrapper menu-style-three">
			<div class="header-wrapper">
				<div class="top-header">
					<div class="container">
						<div class="float-right">
							<p>Get in touch<a href="#" class="tran3s">078 282 294</a></p>
							<ul class="text-dark">
								<li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->
				<div class="container">
					<!-- Logo -->
					<div class="float-left tran4s"><a href="index.html"><img src="/assets/images/logo/logo.svg"
								height="56px" alt="Logo"></a></div>

					<!-- ============================ Theme Menu ========================= -->
					<nav class="theme-main-menu float-right navbar" id="mega-menu-wrapper">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target="#navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="navbar-collapse-1">
							<ul class="nav">
								<li class="menu-list"><a href="#" class="tran3s">Services</a></li>
								<li class="menu-list"><a href="contact.html" class="tran3s">Blog</a></li>
								<li class="menu-list"><a href="about-us" class="tran3s">About Us</a></li>
								<li class="menu-list"><a href="contact.html" class="tran3s">Contact Us</a></li>
								<li class="quote-button"><a href="#" class="tran3s hvr-trim-two">Get a quote</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav> <!-- /.theme-main-menu -->
				</div> <!-- /.clearfix -->
			</div>
		</header> <!-- /.theme-menu-wrapper -->

		<!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
		<div id="theme-main-banner" class="banner-three">
			<div
				data-src="https://previews.123rf.com/images/smspsy/smspsy1807/smspsy180720498/104906601-judges-gavel-and-sound-block-on-wooden-board-over-light-background-concept-of-rule-of-law-and-justic.jpg">
				<div class="camera_caption">
					<div class="container">

						<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">The best legal advice is just a click
							away</h1>
						<h5 class="wow fadeInUp animated">Get consultation for free!</h5>
						<a href="contact-us" class="tran3s wow fadeInUp animated button-two" data-wow-delay="0.3s">Get
							in touch</a>
					</div> <!-- /.container -->
				</div> <!-- /.camera_caption -->
			</div>
			<div
				data-src="https://previews.123rf.com/images/smspsy/smspsy1807/smspsy180720498/104906601-judges-gavel-and-sound-block-on-wooden-board-over-light-background-concept-of-rule-of-law-and-justic.jpg">
				<div class="camera_caption">
					<div class="container">
						<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">We register companies that brings values
							to the world.</h1>
						<h5 class="wow fadeInUp animated">There are no secrets to success.</h5>
						<a href="about-us" class="tran3s wow fadeInUp animated button-two" data-wow-delay="0.3s">More
							About us</a>
					</div> <!-- /.container -->
				</div> <!-- /.camera_caption -->
			</div>
		</div> <!-- /#theme-main-banner -->

		<!-- 
			=============================================
				Company What we do Text
			============================================== 
			-->
		<div class="company-seo-text">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="text">
							<div class="theme-title-two">
								<h2><span>The best <strong> legal minds </strong> in the country</span>
								</h2>
								<br>
								<br>
							</div>
							<p>Our aim is to combine the highest international standards with local expertise so we can
								provide a seamless assistance
								to the top corporations in their most important and challenging assignments. Through our
								network, we
								offer a full range of commercial legal services, combined with an in-depth knowledge of
								local practices.</p>
							<a href="about-us" class="hvr-trim-two">More
								About us</a>
						</div>
					</div>
					<div class="col-md-6 col-xs-12"><img
							src="https://as2.ftcdn.net/jpg/02/12/43/95/500_F_212439576_uJMFoW9G8lAqFVQaENK4SYTQb4pWrFsb.jpg"
							alt=""></div>
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.company-seo-text -->


		<!-- 
			=============================================
				Short Banner
			============================================== 
			-->
		<div class="short-banner">
			<div class="opacity">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="bg-info">
								<div><i class="fa fa-money"></i></div>
								<div class="text">
									<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique rem eligendi
										laborum dignissimos. Nulla,
										impedit dolore reiciendis, nesciunt vitae veritatis enim, tenetur vero labore
										vel adipisci praesentium aut ipsam
										id!</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="bg-info">
								<div><i class="fa fa-percent"></i></div>
								<div class="text">
									<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique rem eligendi
										laborum dignissimos. Nulla,
										impedit dolore reiciendis, nesciunt vitae veritatis enim, tenetur vero labore
										vel adipisci praesentium aut ipsam
										id!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.opacity -->
		</div> <!-- /.short-banner -->

		<!-- 
					=============================================
						Testimonial
					============================================== 
					-->
		<div class="testimonial-section homeThree">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-xs-12 float-right">
						<div class="main-container">
							<div class="theme-title-two">
								<h6>Testimonials</h6>
								<h2><span>See what<strong> our clients</strong></span> <br><span>say about us</span>
								</h2>
							</div> <!-- /.theme-title -->
							<div class="testimonial-slider">
								<div class="item">
									<div class="wrapper">
										<p>Their testimonial videos aren't production quality, but they get the message
											across, cover useful &amp; relevant information which goes to show you don't
											need to investthousands in production get some testimonial videos up with
											quality.</p>
									</div> <!-- /.wrapper -->
								</div> <!-- /.item -->
								<div class="item">
									<div class="wrapper">
										<p>Their testimonial videos aren't production quality, but they get the message
											across, cover useful &amp; relevant information which goes to show you don't
											need to investthousands in production get some testimonial videos up with
											quality.</p>
									</div> <!-- /.wrapper -->
								</div> <!-- /.item -->
							</div> <!-- /.testimonial-slider -->
						</div> <!-- /.main-container -->
					</div>
				</div>
			</div> <!-- /.container -->
		</div> <!-- /.testimonial-section -->

		<!-- 
			=============================================
				Theme Counter Style Two
			============================================== 
			-->
		<div class="theme-counter-styleTwo">
			<div class="container">
				<ul class="clearfix">
					<li class="float-left">
						<p>Our Clients</p>
						<h2 class="number"><span class="timer" data-from="0" data-to="86543" data-speed="1000"
								data-refresh-interval="5">0</span></h2>
					</li>
					<li class="float-left">
						<p>Yearly Cases</p>
						<h2 class="number"><span class="timer" data-from="0" data-to="16753" data-speed="1000"
								data-refresh-interval="5">0</span></h2>
					</li>
					<li class="float-left">
						<p>Legal Cases won</p>
						<h2 class="number"><span class="timer" data-from="0" data-to="73" data-speed="1000"
								data-refresh-interval="5">0</span></h2>
					</li>
				</ul>
			</div> <!-- /.container -->
		</div> <!-- /.theme-counter-styleTwo -->


		<!-- 
			=============================================
				Partner Logo
			============================================== 
			-->
			<div class="company-seo-text">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="text">
								<div class="theme-title-two">
									<h2>We are the leading name in the field of what we do for years.
									</h2>
									<br>
									<br>
								</div>
			<p>
				The company has a history of delivering
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ea culpa similique aperiam inventore obcaecati
				explicabo sint rerum modi doloremque, voluptatem qui dignissimos minus temporibus quaerat quisquam? Omnis, molestias
				et.
			</p>
			<h6>Let our experts do what they do best!</h6>
								<a href="#" class="hvr-trim-two">Our Servces</a>
							</div>
						</div>
						<div class="col-md-6 col-xs-12"><img
								src='https://image.freepik.com/free-vector/business-handshake-background-flat-style_23-2147789647.jpg' alt=""></div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.company-seo-text -->
		<div class="partent-logo-section">
			<div class="container">
				<div id="partner-logo">
					<div class="item"><img src="/assets/images/logo/p-1.png" alt="logo"></div>
					<div class="item"><img src="/assets/images/logo/p-2.png" alt="logo"></div>
					<div class="item"><img src="/assets/images/logo/p-3.png" alt="logo"></div>
					<div class="item"><img src="/assets/images/logo/p-4.png" alt="logo"></div>
				</div>
			</div>
		</div> <!-- /.partent-logo-section -->
		<%- include ('partials/footer')  %> 