body, h1, h2, h3, h4, h5, h6, span, p, text{
    font-family: "Default";
}

@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-Light.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-LightItalic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-Italic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face{
    font-family: "Default";
    src: url("/fonts/OpenSans-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}